{
  "curso_nome": "Segurança Digital",
  "data_curso": "17/05/2026",
  "carga_horaria": "2 (duas) horas",

  "professor1_nome": "Master Blaster Instructor",
  "professor1_cargo": "INSTRUTOR NÚCLEO TI",
  "professor1_cpf": "000.000.000-00",

  "professor2_nome": "Master Blaster Instructor",
  "professor2_cargo": "INSTRUTORA NÚCLEO TI",
  "professor2_cpf": "000.000.000-00",

  "emissor_nome": "Movimento Luta de Classes",
  "emissor_local": "Florianópolis / SC",
  "data_emissao": "17.05.2026",

  "ano_certificado": 2026,
  "numero_inicial": 1
}
